version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "effect-jmap"
    commit-message:
      prefix: "chore"
    open-pull-requests-limit: 5
